<div class="btn-group" role="group">
    <button class="btn btn-{{buttonProperties.styleButtonUpdate}}" *ngIf="buttonProperties.showUpdate" type="button"
        (click)="clicEventUpdate()" data-bs-toggle="modal" [attr.data-bs-target]="'#'+personData.id">
        <i class="fa fa-{{ buttonProperties.iconButtonUpdate }}"></i> {{ buttonProperties.labelUpdate }}
    </button>
    <button class="btn btn-{{buttonProperties.styleButtonDelete}}" *ngIf="buttonProperties.showDelete" type="button"
        (click)="clicEventDelete()">
        <i class="fa fa-{{ buttonProperties.iconButtonDelete }}"></i> {{ buttonProperties.labelDelete }}
    </button>
    <button class="btn btn-{{buttonProperties.styleButtonAditional}}" *ngIf="buttonProperties.showOption" type="button"
        (click)="clicEventOption()">
        <i class="fa fa-{{ buttonProperties.iconButtonAditional }}"></i> {{ buttonProperties.labelAditional }}
    </button>
</div>

  <div class="modal fade" id="{{personData.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Actualizar persona</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div>
            <label for="firstname"> Nombre: </label>
            <input class="form-control" type="text" name="firstname" id="firstname" [(ngModel)]="firstNameLocal">
          </div>
          <div>
            <label for="lastname">Apellidos:</label>
            <input class="form-control" type="text" name="lastname" id="lastname" [(ngModel)]="lastNameLocal">
          </div>
          <div>
            <label for="phone">Tel&eacute;fono:</label>
            <input class="form-control" type="text" name="phone" id="phone" [(ngModel)]="phoneLocal">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary" (click)="clicEventSave()">Guardar cambios</button>
        </div>
      </div>
    </div>
  </div>