<div class="card">
    <div class="card-header">
       <h6 class="card-title">
        Productos seleccionados
       </h6> 
        
    </div>
    <div class="card-body">
        <table class="table table-hover" >
            <thead>
                <th>#</th>
                <th>Producto</th>
                <th>Categoria</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Opciones</th>
            </thead>
            <tbody>
                @if (listProductSelected.length > 0 ){
                    <tr *ngFor="let producto of listProductSelected">
                        <td> {{ producto.id }} </td>
                        <td> {{ producto.product }} </td>
                        <td [ngSwitch]="producto.category">
                            <div *ngSwitchCase="'OC'">
                                Ocio
                            </div>
                            <div *ngSwitchCase="'VA'">
                                Varios
                            </div>
                            <div *ngSwitchCase="'HT'">
                                Salud
                            </div>
                            <div *ngSwitchCase="'CO'">
                                Cocina
                            </div>
                            <div *ngSwitchDefault>
                                No definido
                            </div>
                        </td>
                        <td> {{ producto.price | currency }} </td>
                        <td> {{ producto.stock | quantityPipe }} </td>
                        <td>
                            <!-- <input class="btn btn-primary" type="button" value="Agregar"> -->
                            <button class="btn btn-primary" type="button"><i class="fa fa-plus"></i> Quitar</button>
                        </td>
                    </tr>
                }
                @else {
                    <div>
                        Sin productos seleccionados.
                    </div>
                }
            </tbody>
        </table>
    </div>
</div>
