<div class="container-fluid f-">
    <div class="fs-2 fw-light">
        Mantenimiento de dispositivos
    </div>
    <div>
        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#newdevice">Nuevo dispositivo</button>
    </div>
    <div class="card mt-3 w-75">
        <table class="table table-hover">
            <thead>
                <th>#</th>
                <th>Dispositivo</th>
                <th>Cantidad</th>
                <th class="text-end">Precio</th>
                <th class="text-center">Opciones</th>
            </thead>
            <tbody>
                <tr *ngFor="let device of deviceList">
                    <td> {{ device.id }}</td>
                    <td> {{ device.name }}</td>
                    <td> {{ device.quantity | quantityPipe }}</td>
                    <td class="text-end"> {{ device.price | currency}} </td>
                    <td class="text-center"> <app-crud-button
                        [styleButton]="'primary'"
                        [iconButton]="'refresh'"
                        [device]="device"
                        (clickSave)="updateTable($event)"
                        ></app-crud-button> </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


