<div class="m-4">
    <div class="display-3">
        Mantenimiento de dispositivos
    </div>
    <div>
        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#newdevice">Nuevo dispositivo</button>
    </div>
    <table class="table table-hover">
        <thead>
            <th>#</th>
            <th>Dispositivo</th>
            <th>Cantidad</th>
            <th class="text-end">Precio</th>
            <th class="text-center">Opciones</th>
        </thead>
        <tbody>
            <tr *ngFor="let device of deviceList">
                <td> {{ device.id }}</td>
                <td> {{ device.name }}</td>
                <td> {{ device.quantity | quantityPipe }}</td>
                <td class="text-end"> {{ device.price | currency}} </td>
                <td class="text-center"> <app-crud-button
                    [styleButton]="'primary'"
                    [iconButton]="'refresh'"
                    [device]="device"
                    (clickSave)="updateTable($event)"
                    ></app-crud-button> </td>
            </tr>
        </tbody>
    </table>
</div>


<!-- <div class="modal fade" id="newdevice" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Editar dispositivo</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <label for="device">Dispositivo</label>
                    <input class="form-control" type="text" name="device" [(ngModel)]="newDeviceName" id="device">
                </div>
                <div>
                    <label for="quantity">Cantidad</label>
                    <input class="form-control" type="number" name="quantity" [(ngModel)]="newDeviceQuantity" id="quantity">
                </div>
                <div>
                    <label for="price">Precio</label>
                    <input class="form-control" type="text" name="price" [(ngModel)]="newDevicePrice" id="price">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="addNewDevice()">Guardar</button>
            </div>
        </div>
    </div>
</div> -->