<button 
    data-bs-toggle="modal" 
    [attr.data-bs-target]="'#deviceModal-'+device.id"
    class="btn btn-{{ styleButton }}" 
    *ngIf="showButton" 
    type="button" [disabled]="disabled"
    (click)="clickEventUpdate()">
    <i class="fa fa-{{ iconButton }}"></i>{{ labelButton }}
</button>

<div class="modal fade" [id]="'deviceModal-'+device.id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Editar dispositivo</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <label for="device">Dispositivo</label>
                    <input class="form-control" type="text" name="device" [(ngModel)]="name" id="device">
                </div>
                <div>
                    <label for="quantity">Cantidad</label>
                    <input class="form-control" type="number" name="quantity" [(ngModel)]="quantity" id="quantity">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="clickEventSave()">Guardar</button>
            </div>
        </div>
    </div>
</div>